@media (max-width: 1280px)
  .header
    &__title
      font-size: 50px
      letter-spacing: 20px
      line-height: 35px
    
    .menu
      &__item
        margin-right: 35px
        line-height: 20px

  .content
    &__wrapper
      grid-template-columns: repeat(2, minmax(100px, 462px))
      grid-template-rows: repeat(5, 360px)
      grid-gap: 10px
    &__link
      span
        font-size: 24px;
        letter-spacing: 5px
        line-height: 30px
      &:first-child
        span
          font-size: 46px;
          letter-spacing: 20px;
          line-height: 55px;

      &:nth-child(2)
        grid-row: 3 / 4
        grid-column: 1
      &:nth-child(3)
        grid-row: 4 / 5
        grid-column: 1
      &:nth-child(4)
        grid-row: 3 / 5
        grid-column: 2
      &:last-child
   
    &__icon
      max-height: 60px
      max-width: 150px;
      &_big
        max-height: 140px



@media (max-width: 991px)
  .header
    .menu
      &__item
        margin-right: 15px
        letter-spacing: 1px
    &__button
      width: 42px
      height: 21px


@media (max-width: 768px)
  .header
    &__top
      grid-template-columns: auto
      grid-column-gap: 0
      justify-items: center
      grid-row-gap: 20px
    
  .content
    &__link
      grid-column: span 2
      &:nth-child(5)
        grid-row: 5 / 6
        grid-column: 1
      &:nth-child(6)
        grid-row: 5 / 6
        grid-column: 2

@media (max-width: 850px) and (max-height: 500px)
  .header
    .logo
      &__image
        max-width: 50%
    .menu
      &__list
        text-align: center
      &__item
        font-size: 14px
        line-height: 30px
    
    &__title
      font-size: 36px
      letter-spacing: 1px
      line-height: 10px
      margin-top: 25px
    
    &__link
      font-size: 24px
      letter-spacing: 5px
      &:hover, &:active, &:focus
        letter-spacing: 8px

@media (max-width: 576px)
  .header
    .logo
      &__image
        max-width: 45%
    
    .menu
      &__list
        text-align: center
      &__item
        font-size: 14px
        line-height: 30px

    &__title
      font-size: 36px
      letter-spacing: 1px
      line-height: 10px
    
    &__link
      font-size: 24px
      letter-spacing: 5px
      &:hover, &:active, &:focus
        letter-spacing: 8px

  .content
    &__wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(6, 360px)
    &__link
      padding: 20px !important
      grid-column: auto !important
      grid-row: auto !important
      span
        font-size: 18px !important
        letter-spacing: 3px !important
        line-height: 24px !important