@import 'fonts'
@import 'blocks/header'
@import 'blocks/content'
@import 'blocks/instagram'
@import 'media'

html
  scroll-behavior: smooth
  height: 100%
  
body
  height: 100%
  font-family: 'Montserrat', 'Open Sans', Arial, sans-serif
  font-size: 16px
  font-weight: 400
  color: #ffffff
  overflow-wrap: break-word
  

ul
  margin: 0
  padding: 0

.container
  max-width: 100%
  min-width: 320px
  height: 100%

.wrap
  max-width: 1500px
  min-width: 290px
  margin: 0 auto